@font-face {
  font-family: "iconfont"; /* Project id 3257638 */
  src: url('iconfont.woff2?t=1671068463552') format('woff2'),
       url('iconfont.woff?t=1671068463552') format('woff'),
       url('iconfont.ttf?t=1671068463552') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangzhushuoming:before {
  content: "\e6f3";
}

.icon-shezhi2:before {
  content: "\ec0d";
}

.icon-xiaoxi:before {
  content: "\e65e";
}

.icon-tianjiatuandui:before {
  content: "\e6c9";
}

.icon-zuzhi:before {
  content: "\e60c";
}

.icon-fankui:before {
  content: "\e9a6";
}

.icon-shenhe:before {
  content: "\f4c2";
}

.icon-dianping:before {
  content: "\e6cc";
}

.icon-chakan-copy:before {
  content: "\e62b";
}

.icon-zoushi:before {
  content: "\e731";
}

.icon-chexiao:before {
  content: "\e60e";
}

.icon-tingyong:before {
  content: "\e62d";
}

.icon-wodebaobiao:before {
  content: "\e7a3";
}

.icon-fenlei:before {
  content: "\e60b";
}

.icon-chakanxiangqing:before {
  content: "\e669";
}

.icon-zhuanke:before {
  content: "\e60f";
}

.icon-wj-jzbg:before {
  content: "\e70c";
}

.icon-wj-mc:before {
  content: "\e715";
}

.icon-wj-szsm:before {
  content: "\e745";
}

.icon-wj-wjxg:before {
  content: "\e770";
}

.icon-daochu:before {
  content: "\e6cb";
}

.icon-report:before {
  content: "\e63a";
}

.icon-yujing:before {
  content: "\ed21";
}

